html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
}

.highlight {
    background-color: rgb(250,250,180);
}

/* supersede bootstrap at the row level by being annoyingly specific
*/
.table-striped > tbody > tr:nth-child(odd).highlight > td {
    background-color: rgb(250,250,180);
}

/* supersede bootstrap at the cell level by being annoyingly specific */
.table-striped > tbody > tr:nth-child(odd) > td.highlight {
	background-color:rgb(250,250,180);
}


.col-md-1.btnupdown {
    padding: 0px;
    text-align: right;
}

tr:hover td {
    background:rgb(250,250,180);
}

.row {
    margin-top: 8px;
    margin-bottom: 8px;
}

.table-hover {
    display:block;
    max-height:560px;
    overflow-y:auto;
}

a, a:link, a:visited, a:hover, a:active {
	color:inherit;
	text-decoration: none;
 }

#registerbuttonid{
 margin:0 4px;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

.switchon-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 30px;
    text-align: center;
}

.switchon-header h1 {
     display:inline;
         margin-left: 15px;
}

thead {
    background-color: rgb(38,90,136);
    color: white;
}

.error {
    background-color : Bisque;
    border: 2px solid Crimson;
}

.switchonfooter {
    position:absolute;
    bottom:0;
    left:0;
    height: 100px;
    width: 100%;
    box-shadow: 0 -4px 0 rgb(0,200,0);
    background: black;
}

.switchonfooterimage {
    display: block;
    margin: auto;
}

.alert .glyphicon {
    display:table-cell;
    vertical-align: middle;
    padding-right: 15px;
}

.alert div {
	height: 50px;
    display:table-cell;
    vertical-align: middle;
}

.infotext {
    vertical-align: top;
    height: 20px;
    padding: 3px;
    border-top: 0px;
    white-space: pre-wrap;
}

p {
    margin-bottom: 0px;
}

/*Custom navbar*/
.switchon-navbar{
    background: #fff;
    padding: 0;
    width: 100%;
    height: 100px;
    background-image: url("../img/navbar_background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.switchon-navbar-container{
    height:100px;
    padding:0;
    padding-left: 15px;
    padding-right:15px;
    z-index: -1;
}

.switchon-navbar-logo{
    max-width:100%;
    max-height:100%;

}

.navbar-title{
    font-family: Arial;
    color: white;
    max-heigth: 45px;
    position:absolute;
    bottom: 35px;
    padding-left:15px;
}

.navbar-title h1{
    margin: 1px;
}

.navbar-options {
    width: 100%;
    border: solid 1px #3b3b3b;
    position:absolute;
    bottom:0px;
    left: 0px;
    height: 30px;
}

.navbar-menu {
    padding-left: 30px;
    padding-right: 15px;
    margin-left: 120px;
}

.navbar-links li{
    font-size: 1em;
    color: white;
    font-family: Arial;
    max-height: 35px;
    border-left: solid 1px #3b3b3b;
    border-right: solid 1px #3b3b3b;
}

.navbar-inverse .navbar-nav > li > a {
    color:#FFF;
    padding-top: 5px;
}

.navbar-login-options{
    right: 0px;
    float: right;
}