<!DOCTYPE html>
<html>
    <head>
        <title>Create Protocol</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!--CSS/Bootstrap-->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

            {% load staticfiles %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

            <!--Javascript-->
            <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

            <!--Capcha-->
            <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.realperson.css' %}">
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

            <script src="{% static 'javascript/jquery.plugin.js' %}"></script>
            <script src="{% static 'javascript/jquery.realperson.js' %}"></script>
            <script src="{% static 'javascript/functions.js' %}"></script>

            <script>

            $(function() {
                $('#captchaID').realperson({regenerate: ""});
            });

            function checkform() {
                try {
                    var text = $('#captchaID').val();
                    var hash = $('#captchaID').realperson('getHash');
                    console.log(hash);
                    var check = rphash(text);
                    console.log(check);

                    if (hash == check) {
                        return true;
                    }
                    else {
                        alert('Please fill in the correct capcha');
                        return false;
                    }
                }
                catch(err) {
                    console.log(err);
                }
                return false;
            };

            function rphash(value) {
                var hash = 5381;
                for (var i = 0; i < value.length; i++) {
                    hash = ((hash << 5) + hash) + value.charCodeAt(i);
                }
                return hash;
            }

            </script>

    </head>

    <body>

        <!-- TOOLBAR -->
        <div class="navbar navbar-inverse navbar-static-top switchon-navbar">
            <div class="container-fluid">
                <div>
                    <div class="nav navbar-header">
                        <a class="navbar-brand switchon-navbar-container" href="http://www.switch-on-vwsl.eu/">
                            <img class="switchon-navbar-logo" src="{% static 'img/sologo_150x150.png' %}" alt=""/>
                        </a>
                    </div>
                    <div class="nav navbar-nav">
                        <div class="navbar-title">
                            <h1>Virtual Water-Science Laboratory</h1>
                        </div>
                    </div>
                    <div class="navbar-options">
                        <div class="navbar-extras">
                            <a href="http://www.switch-on-vwsl.eu/about"><i class="fa fa-question-circle fa-so-font" aria-hidden="true"></i></a>
                            <a href="http://www.switch-on-vwsl.eu/about-2"><i class="fa fa-info-circle fa-so-font" aria-hidden="true"></i></a>
                            <a href="http://www.switch-on-vwsl.eu/"><i class="fa fa-home fa-so-font" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-static-top switchon-navbar-secondary">
            <div class="container-fluid container-secondbar">
                    <div>
                        <div class="navbar-menu">
                            <ul class="nav navbar-nav navbar-links">
                                <button type="button" class="btn btn-primary btn-sm pull-center switchon-navbar-button" id="createbutton"
                                    onclick="window.location.assign('/createprotocol')">
                                    <i class="fa li-navbar-button"></i>Create
                                </button>
                                <button type="button" class="btn btn-primary btn-sm pull-center switchon-navbar-button" id="participatebutton"
                                    onclick="window.location.assign('/participate')">
                                    <i class="fa li-navbar-button"></i>Participate
                                </button>
                                <button type="button" class="btn btn-primary btn-sm pull-center switchon-navbar-button" id="reviewbutton"
                                    onclick="window.location.assign('/review')">
                                    <i class="fa li-navbar-button"></i>Review
                                </button>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
        <!-- END TOOLBAR -->

        <div class="container">
            <!--The green message box on top-->
            <div id="messagetype">
                <span id="messagefa"></span>
                <div id="messagetext"></div>
            </div>

            <script>
                var message = "To create a new protocol, you need to be logged in. If you already have a user account, " +
                "please log in the right. If not, you can register on the left and create a new protocol using your new account."
                setMessage("alert alert-success", "fa fa-4x fa-fw fa-pull-left fa-info-circle", message);
            </script>

            <div class="row">
                <div class="col-md-6">

                    <h2><center>Register</center></h2>

                    <form id="registerFormID" role="form" method="post" action="/project/registerandcreateprotocol/" onsubmit="return checkform()" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}

                        {% for field in user_form %}

                            <div class="form-group">
                                <label class="col-md-3 control-label">{{ field.label }}:</label>
                                <div class="col-md-9">
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            </div>

                        {% endfor %}

                        {% for field in profile_form %}

                            <div class="form-group">
                                <label class="col-md-3 control-label">{{ field.label }}:</label>
                                <div class="col-md-9">
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            </div>

                        {% endfor %}


                        <div class="form-group">
                            <label class="col-md-3 control-label">Please fill in capcha:</label>
                            <div class="col-md-9">
                                <input type="text" id="captchaID">
                            </div>
                        </div>

                        <hr>


                        <button type="submit" name="submit" class="btn btn-primary pull-right">
                            Register & Create Protocol
                        </button>


                    </form>
                </div>


                <div class="col-md-6">

                    <h2><center>Login</center></h2>

                    <form class="form-horizontal" role="form" autocomplete="off" method="post" action="/project/loginandcreateprotocol/">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="col-md-3 control-label">Username:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-sm" placeholder="username" value="" name="username" size="15">
                             </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Password:</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control input-sm" value="" placeholder="password" name="password" size="15">
                             </div>
                        </div>
                        <hr>

                        <button type="submit" name="submit" class="btn btn-primary pull-right">
                            Login & Create Protocol
                        </button>
                    </form>
                    <button type="submit" name="forgot "title="Send feedback on the tool" class="btn btn-default pull-right btn-space" onclick="window.location.assign('/accounts/password_reset/')">
                                <i class="glyphicon glyphicon-envelope"></i>&nbsp&nbspForgotten credentials
                    </button>
                </div>
            </div>
        </div>

        <footer class="switchonfooter">
            <img class="switchonfooterimage" src="{% static 'img/switchonfooter_adjusted.png' %}" alt=""/>
        </footer>
    </body>
</html>