<!DOCTYPE html>
<html lang="en">

    <body>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!--CSS/Bootstrap-->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
		    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

            {% load staticfiles %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

            <!--Javascript-->
            <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
            <script src="{% static 'javascript/bootbox.min.js' %}"></script>
            <script src="{% static 'javascript/form.js' %}"></script>
            <script src="{% static 'javascript/functions.js' %}"></script>

        </head>


        <div class="container">

            <div class="switchon-header">
                <span><img src="{% static 'img/sologo_new_cropped.png' %}" alt=""/></span>
                <h1>Protocol Tool</h1>
            </div>

            <div id="messagetype">
                <span id="messagefa"></span>
                <div id="messagetext"></div>
            </div>


            <script>
                var email = ('switchon.vwsl@' + 'gmail.com')
                var message = "Enter the information for your protocol in the boxes below. " +
                               "You should describe experiment information, data and method steps, experiment analysis steps " +
                               "and what results will be reported. When describing the tasks, " +
                               "it is required to fill in all fields. All saved information is to the right. To be registered " +
                               "as Leader of the experiment (to get edit rights and allow new partners), please email: " + email
                setMessage("alert alert-success", "fa fa-4x fa-fw fa-pull-left fa-info-circle", message);
            </script>

            <form role="form" id="dataset_form" class="form-horizontal" action="/project/form/{% if edit %}{{ dataset_id }}/{% endif %}" method="post">

                {% csrf_token %}

                {% for form in forms_list %}
                <div id="{{ form.0 }}" class="row">

                    {% if form.0 == 'Basic' %}

                    <div class="row">
                        <div class="col-md-6">
                            {% for field in form.1 %}
                                <!--Set subtitles-->
                                {% if field.name == 'title' %}
                                <h4>Experiment information</h4>
                                {% endif %}

                                <div id="{{ field.label }}" class="form-group">
                                    <label for="{{ field.id_for_label }}" class="col-md-3 control-label">{{ field.label }}:</label>
                                    <div id="{{ field.label }}_field" class="col-md-9">
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if edit %}
                            <input type="hidden" name="dataset_id" value="{{ dataset_id }}" />
                            <input type="hidden" name="form_action" value="update" />
                            {% else %}
                            <input type="hidden" name="form_action" value="create" />
                            {% endif %}

                            <div class="col-md-9">
                            </div>
                            <div class="col-md-3">
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                      <div class="btn-group" role="group">
                                          <button type="button" id="saveInfoID" class="btn btn-primary">
                                          <i class="fa fa-floppy-o fa-lg"></i>&nbsp&nbspSave</button>
                                      </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <h4> Current experiment information: </h4>
                            <table id="experimentTable" table-border="0">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- end row with the protocol information-->
                    {% endif %}


                    {% if form.0 == 'Partner' %}
                    <div class="row">
                        <hr>
                        <div class="col-md-6">
                            <h4>Partners</h4>
                            {% for field in form.1 %}
                            <div id="{{ field.label }}" class="form-group">
                                <label for="{{ field.id_for_label }}" class="col-md-3 control-label">{{ field.label }}:</label>
                                <div id="{{ field.label }}_field" class="col-md-9">
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            </div>
                            {% endfor %}

                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                      <div class="btn-group" role="group">
                                        <button type="button" id="addPartnerID" class="btn btn-primary active">
                                          <i class="fa fa-plus fa-lg"></i>&nbsp&nbspAdd</button>
                                      </div>
                                      <div class="btn-group" role="group">
                                        <button type="button" id="updatePartnerID" class="btn btn-primary disabled">
                                          <i class="fa fa-repeat fa-lg"></i>&nbsp&nbspUpdate</button>
                                      </div>
                                      <div class="btn-group" role="group">
                                        <button type="button" id="deletePartnerID" class="btn btn-primary disabled">
                                          <i class="fa fa-trash-o fa-lg"></i>&nbsp&nbspDelete</button>
                                      </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <input type="hidden" id="selectedPartnerID" value="-99">
                            <!--<input type="hidden" id="selectedPartnerID" value="-99">-->
                            <h4>Current partners:</h4>

                            <table id="partnerTable" class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-md-5"><strong>Name</strong></th>
                                        <th class="col-md-5"><strong>Organisation</strong></th>
                                        <th class="col-md-2"><strong></strong></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>



                        </div>
                    </div>  <!-- end row with partner information-->
                    {% endif %} <!--end if form is partner-->


                    {% if form.0 == 'DataReq' %}
                    <div class="row">
                        <hr>
                            <div class="col-md-6">
                            <h4>A) Data & method preparation </h4>

                            {% for field in form.1 %}
                            <div id="{{ field.label }}" class="form-group">
                                <label for="{{ field.id_for_label }}" class="col-md-3 control-label">{{ field.label }}:</label>
                                <div id="{{ field.label }}_field" class="col-md-9">
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            </div>
                            {% endfor %}

                            <!--select the partner-->
                            <div class="form-group">
                                <!--<input type="text" id="contrPartnerDataReqID" value="-99">-->
                                <label class="col-md-3 control-label">Task leader:</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="partnerDataReq">
                                        <!--Contents of select box are added with javascript-->
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                          <div class="btn-group" style="width: 30%;" role="group">
                                            <button type="button" id="addReqID" class="btn btn-primary active">
                                              <i class="fa fa-plus fa-lg"></i>&nbsp&nbspAdd</button>
                                          </div>
                                          <div class="btn-group" style="width: 35%;" role="group">
                                            <button type="button" id="updateReqID" class="btn btn-primary disabled">
                                              <i class="fa fa-repeat fa-lg"></i>&nbsp&nbspUpdate</button>
                                          </div>
                                          <div class="btn-group" style="width: 35%;" role="group">
                                            <button type="button" id="deleteReqID" class="btn btn-primary disabled">
                                              <i class="fa fa-trash-o fa-lg"></i>&nbsp&nbspDelete</button>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">

                            <input type="hidden" id="selectedReqID" value="-99">
                             <h4>Current data & method preparation steps:</h4>

                            <table id="reqTableID" class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-md-1"><strong>Nr.</strong></th>
                                        <th class="col-md-7"><strong>Task</strong></th>
                                        <th class="col-md-2"><strong>Deadline</strong></th>
                                        <th class="col-md-2"><strong>Done</strong></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>


                            <div class="row">
                                <div class="col-md-10"></div>
                                <div class="col-md-2">
                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                          <div class="btn-group" style="width: 50%;" role="group">
                                              <button type="button" id="incrTaskNrReqID" class="btn btn-primary btn-sm disabled">
                                              <i class="glyphicon glyphicon-triangle-top"></i></button>
                                          </div>
                                         <div class="btn-group" style="width: 50%;" role="group">
                                              <button type="button" id="decrTaskNrReqID" class="btn btn-primary btn-sm disabled">
                                              <i class="glyphicon glyphicon-triangle-bottom"></i></button>
                                          </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>  <!-- end row with DataMethodReqForm information-->
                    {% endif %} <!--end if form is DataMethodReqForm-->


                    {% if form.0 == 'ExpStep' %}
                    <div class="row">
                        <hr>

                        <div class="col-md-6">

                            <h4>B) Experiment analysis </h4>

                            {% for field in form.1 %}
                            <div id="{{ field.label }}" class="form-group">
                                <label for="{{ field.id_for_label }}" class="col-md-3 control-label">{{ field.label }}:</label>
                                <div id="{{ field.label }}_field" class="col-md-9">
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            </div>
                            {% endfor %}

                            <!--select the partner-->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Task leader:</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="partnerExpStep">

                                    </select>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6"></div>

                                <div class="col-md-6">
                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                          <div class="btn-group" style="width: 30%;" role="group">
                                            <button type="button" id="addExpStepID" class="btn btn-primary active">
                                              <i class="fa fa-plus fa-lg"></i>&nbsp&nbspAdd</button>
                                          </div>
                                          <div class="btn-group" style="width: 35%;" role="group">
                                            <button type="button" id="updateExpStepID" class="btn btn-primary disabled">
                                              <i class="fa fa-repeat fa-lg"></i>&nbsp&nbspUpdate</button>
                                          </div>
                                          <div class="btn-group" style="width: 35%;" role="group">
                                            <button type="button" id="deleteExpStepID" class="btn btn-primary disabled">
                                              <i class="fa fa-trash-o fa-lg"></i>&nbsp&nbspDelete</button>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">

                            <input type="hidden" id="selectedExpStepID" value="-99">
                             <h4>Current experiment analysis steps:</h4>

                            <table id="expStepTableID" class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-md-1"><strong>Nr.</strong></th>
                                        <th class="col-md-7"><strong>Task</strong></th>
                                        <th class="col-md-2"><strong>Deadline</strong></th>
                                        <th class="col-md-2"><strong>Done</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-md-10"></div>
                                <div class="col-md-2">
                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                          <div class="btn-group" style="width: 50%;" role="group">
                                              <button type="button" id="incrTaskNrExpStepID" class="btn btn-primary btn-sm disabled">
                                              <i class="glyphicon glyphicon-triangle-top"></i></button>
                                          </div>
                                         <div class="btn-group" style="width: 50%;" role="group">
                                              <button type="button" id="decrTaskNrExpStepID" class="btn btn-primary btn-sm disabled">
                                              <i class="glyphicon glyphicon-triangle-bottom"></i></button>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>  <!-- end row with Exp Step information-->
                    {% endif %} <!--end if form is ExpStepForm-->


                    {% if form.0 == 'Reporting' %}
                    <div class="row">
                        <hr>

                        <div class="col-md-6">

                            <h4>C) Result reporting </h4>

                            {% for field in form.1 %}
                            <div id="{{ field.label }}" class="form-group">
                                <label for="{{ field.id_for_label }}" class="col-md-3 control-label">{{ field.label }}:</label>
                                <div id="{{ field.label }}_field" class="col-md-9">
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            </div>
                            {% endfor %}

                            <!--select the partner-->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Task leader:</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="partnerReporting">

                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6"></div>

                                <div class="col-md-6">
                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                          <div class="btn-group" style="width: 30%;" role="group">
                                            <button type="button" id="addReportingID" class="btn btn-primary active">
                                              <i class="fa fa-plus fa-lg"></i>&nbsp&nbspAdd</button>
                                          </div>
                                          <div class="btn-group" style="width: 35%;" role="group">
                                            <button type="button" id="updateReportingID" class="btn btn-primary disabled">
                                              <i class="fa fa-repeat fa-lg"></i>&nbsp&nbspUpdate</button>
                                          </div>
                                          <div class="btn-group" style="width: 35%;" role="group">
                                            <button type="button" id="deleteReportingID" class="btn btn-primary disabled">
                                              <i class="fa fa-trash-o fa-lg"></i>&nbsp&nbspDelete</button>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <input type="hidden" id="selectedReportingID" value="-99">
                             <h4>Current result reporting steps:</h4>
                            <table id="reportingTableID" class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-md-1"><strong>Nr.</strong></th>
                                        <th class="col-md-7"><strong>Task</strong></th>
                                        <th class="col-md-2"><strong>Deadline</strong></th>
                                        <th class="col-md-2"><strong>Done</strong></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-md-10"></div>
                                <div class="col-md-2">
                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                          <div class="btn-group" style="width: 50%;" role="group">
                                              <button type="button" id="incrTaskNrReportingID" class="btn btn-primary btn-sm disabled">
                                              <i class="glyphicon glyphicon-triangle-top"></i></button>
                                          </div>
                                         <div class="btn-group" style="width: 50%;" role="group">
                                              <button type="button" id="decrTaskNrReportingID" class="btn btn-primary btn-sm disabled">
                                              <i class="glyphicon glyphicon-triangle-bottom"></i></button>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>  <!-- end row with Result reporting information-->
                    {% endif %} <!--end if form is reportingForm-->

                </div>  <!--End div overall form-->
                {% endfor %}

                <hr>
                <div class="row">
                    <div class="col-md-12"> <!--Form back button-->
                        <button type="button" class="btn-lg btn-primary pull-right" onclick="finish()">Finish</button>
                    </div>
                </div>

            </form>

        </div> <!--END CONTAINER -->

        <br>

        <footer class="switchonfooter">
            <img class="switchonfooterimage" src="{% static 'img/switchonfooter_adjusted.png' %}" alt=""/>
        </footer>
    </body>
</html>


<!--Load in all data from Django to javascript-->
<script type='text/javascript'>

    var datasetID = "{{ dataset_id }}";

    var existingExperimentInfo = {{ existingExperimentInfoJSON|safe }};
    var existingPartners = {{ existingPartnersJSON|safe }};
    var existingReqs = {{ existingReqsJSON|safe }};
    var existingExpSteps = {{ existingExpStepsJSON|safe }};
    var existingReportings = {{ existingReportingsJSON|safe }};

    var csrfmiddlewaretoken =  "{{ csrf_token }}";

</script>