
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--CSS/Bootstrap/FontAwesome-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

        <!--Javascript-->
        <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="{% static 'javascript/bootbox.min.js' %}"></script>
        <script src="{% static 'javascript/functions.js' %}"></script>

    </head>

    <body>

        <!-- TOOLBAR -->
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Water Switch-ON</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="">Home</a></li>
              <li><a href="/participate">Participate</a></li>
              <li><a href="/review">Review</a></li>
              <li><a href="/form">Add new protocol</a></li>
            </ul>

            <div class="container">
            {% if user.is_authenticated %}
            <form class="form-inline pull-right" role="form" method="post" action="/project/logout/">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning btn-sm">
                    <i class="fa fa-sign-out"></i>&nbsp&nbspLog Out
                </button>

            </form>
            {% else %}

            <button type="button" class="btn btn-primary btn-sm pull-right" id="registerbuttonid"
                    onclick="window.location.assign('/project/register/')">
                    <i class="fa fa-user-plus"></i>&nbsp&nbspRegister
            </button>

            <form class="form-inline pull-right" role="form" autocomplete="off" method="post" action="/project/login/">
                {% csrf_token %}
                <div class="form-group form-group-sm">
                    <input type="text" class="form-control" placeholder="username" value="" name="username" size="15">
                </div>
                <div class="form-group form-group-sm">
                    <input type="password" class="form-control" value="" placeholder="password" name="password" size="15">
                </div>
                <button type="submit" class="btn btn-success btn-sm">
                    <i class="fa fa-sign-in"></i>&nbsp&nbspLog In
                </button>
            </form>

            {% endif %}
            </div>
          </div>
        </nav>
        <!-- END TOOLBAR -->

        <div class="container">
            <div class="switchon-header">
                <span><img src="{% static 'img/sologo_new_cropped.png' %}" alt=""/></span>
                <h1>Protocol Tool</h1>
            </div>

            <div id="messagetype">
                <span id="messagefa"></span>
                <div id="messagetext"></div>
            </div>

            {% for message in messages %}
                <script>
                    bootboxMessage = "{{ message }}"
                    bootbox.alert(bootboxMessage)
                </script>
            {% endfor %}

            {% if showReview %}
            <script>
                var message = "Review completed protocols for experiments which can be repeated."
                setMessage("alert alert-success", "fa fa-4x fa-fw fa-pull-left fa-info-circle", message);
            </script>
            {% endif %}
            {% if showParticipate %}
                {% if user.is_authenticated %}
                <script>
                    var message = "Hello " + "{{user.username}}! " + "View or edit existing experiment protocols, " +
                                   "or when the protocol is complete, " +
                                  "send it to review or repeat where others can view it and repeat it."
                    setMessage("alert alert-success", "fa fa-4x fa-fw fa-pull-left fa-info-circle", message);
                </script>
                {% else %}
                <script>
                    var message = "To join an on-going experiment, please register first, log in " +
                     "and click on 'Request Edit Rights' to contact the experiment leader. When the leader has approved your " +
                     "request, you can edit the experiment."
                    setMessage("alert alert-success", "fa fa-4x fa-fw fa-pull-left fa-info-circle", message);
                </script>
                {% endif %}
            {% endif %}


            <div class="panel panel-primary">
                <div class="panel-heading">
                    {% if showReview %}
                    Review or Repeat experiments
                    {% endif %}
                    {% if showParticipate %}
                        {% if user.is_authenticated %}
                            Participate in defining a protocol
                        {% else %}
                            View protocols in progress (login to participate)
                        {% endif %}
                    {% endif %}
                </div>


                <div class="panel-body">

                    {% if showParticipate %}

                        <form class="form-inline pull-left" action="../../admin/">
                            <button type="submit" title="Manage user accounts if you have administrator rights" class="btn btn-default btn-sm">
                                <i class="fa fa-user"></i>&nbsp&nbspAdmin
                            </button>
                        </form>

                    {% endif %}

                    <div class="row"></div>

                    <div class="row"> <!--Datasets table-->

                        <div class="col-md-12">

                        {% if showParticipate %}

                            <table id="participatetable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-md-4">Protocol</th>
                                        <th class="col-md-2">Last update</th>
                                        <th class="col-md-2">Status</th>
                                        <th class="col-md-4">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dataset in datasetList  %}
                                        {% if dataset.hidden == False %}
                                            {% if not dataset.published  %}
                                            <tr>
                                                <td class="col-md-4">{{ dataset.shortTitle }}</td>
                                                <td class="col-md-2">{{ dataset.dateLastUpdate | date:'d-m-Y' }}</td>
                                                <td class="col-md-2">Participate</td>
                                                <td class="col-md-4">
                                                    <button type="button" class="btn btn-xs btn-default" value="{{ dataset.id }}" name="view" onclick="viewProtocol(this)">View</button>

                                                    {% if user.is_authenticated %}

                                                        {% if user.id == dataset.leadUser.user.id %}
                                                            <button type="button" class="btn btn-xs btn-default" value="{{ dataset.id }}" name="edit" onclick="editProtocol(this)">Edit</button>
                                                            <button type="button" class="btn btn-xs btn-default" value="{{ dataset.id }}" name="publish" onclick="publishProtocol(this)">Send to 'review or repeat'</button>
                                                            <button type="button" class="btn btn-xs btn-default" value="{{ dataset.id }}" name="useradmin" onclick="userAdmin(this)">Set user rights</button>
                                                            <button type="button" class="btn btn-xs btn-default" value="{{ dataset.id }}" name="deleteProtocol" onclick="deleteProtocol(this)">Delete</button>

                                                        {% else %}
                                                            {% if user.id in dataset.editUserIds %}
                                                                <button type="button" class="btn btn-xs btn-default" value="{{ dataset.id }}" name="edit" onclick="editProtocol(this)">Edit</button>
                                                            {% else %}
                                                                <button type="button" class="btn btn-xs btn-default" value="{{ dataset.id }}" name="requestEdit" onclick="requestEdit(this)">Request edit rights</button>
                                                            {% endif %}
                                                        {% endif %}

                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% empty %}
                                    <tr>
                                        <td>No protocols defined</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        {% endif %}

                        {% if showReview %}

                            <table id="reviewtable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-md-4">Protocol</th>
                                        <th class="col-md-2">Date completed</th>
                                        <th class="col-md-2">Status</th>
                                        <th class="col-md-4">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dataset in datasetList  %}
                                        {% if dataset.hidden == False %}

                                            {% if dataset.published %}
                                            <tr>
                                                <td class="col-md-4">{{ dataset.shortTitle }}</td>
                                                <td class="col-md-2">{{ dataset.dateLastUpdate | date:'d-m-Y' }}</td>
                                                <td class="col-md-2">
                                                    Review or repeat
                                                </td>
                                                <td class="col-md-4">
                                                    <button type="button" class="btn btn-xs btn-default" value="{{ dataset.id }}" name="view" onclick=viewProtocol(this)>View protocol</button>
                                                    <button type="button" class="btn btn-xs btn-default" value="{{ dataset.id }}" name="viewprotocol" onclick=exportProtocol(this)>Download PDF</button>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% empty %}
                                    <tr>
                                        <td>No protocols defined</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {% endfor %}

                                    <!--List the other protocols, created externally!-->
                                    {% for externalProtocol in externalProtocolList  %}

                                    <tr>
                                        <td class="col-md-4">{{ externalProtocol.shortTitle }}</td>
                                        <td class="col-md-2">{{ externalProtocol.dateLastUpdate | date:'d-m-Y' }}</td>
                                        <td class="col-md-2">
                                            Review or repeat
                                        </td>
                                        <td class="col-md-4">
                                            <button type="button" class="btn btn-xs btn-default"
                                                    name="viewprotocol"
                                                    onclick="window.open('{{ externalProtocol.url }}', '_blank');">View protocol</button>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>

                        {% endif %}
                        </div>

                    </div> <!--END Datasets table-->
                </div> <!--END Panel body-->


                <div class="panel-footer clearfix">

                    <form class="form-inline pull-left" action="mailto:switchon.vwsl@gmail.com">
                        <button type="submit" title="Send feedback on the tool" class="btn btn-primary pull-left">
                                <i class="glyphicon glyphicon-envelope"></i>&nbsp&nbspFeedback
                        </button>
                    </form>

                    {% if showReview %}
                    <form action="../participate/" method="POST" class="form-inline">
                        {% csrf_token %}
                        <button type="submit" name="changeList" class="btn btn-primary pull-right">
                            Show participate protocols
                        </button>
                    </form>
                    {% endif %}

                    {% if showParticipate %}
                    <form action="../review/" method="POST" class="form-inline">
                        {% csrf_token %}
                        <button type="submit" name="changeList" class="btn btn-primary pull-right">
                            Show review protocols
                        </button>
                    </form>
                    {% endif %}

                </div>
            </div> <!-- End Panel-->
        </div> <!--END Container-->

        <form id="dataset_action_form" method="post" target="_blank">
            {% csrf_token %}

            <input type="hidden" name="showReview" value="{{ showReview }}">
            <input type="hidden" name="showParticipate" value="{{ showParticipate }}">
            <input type="hidden" name="datasetID" id="datasetID" value="">
            <input type="hidden" name="datasetAction" id="datasetActionID" value="">
        </form>

        <br>

        <footer class="switchonfooter">
            <img class="switchonfooterimage" src="{% static 'img/switchonfooter_adjusted.png' %}" alt=""/>
        </footer>

    </body>
</html>

<script>

    function exportProtocol(instance){
        $('#datasetActionID').val("export");
        $('#datasetID').val(instance.value);
        $('#dataset_action_form').submit();
    }

    function viewProtocol(instance){
        $('#datasetActionID').val("view");
        $('#datasetID').val(instance.value);
        $('#dataset_action_form').submit();
    }

    function editProtocol(instance){
        $('#datasetActionID').val("edit");
        $('#datasetID').val(instance.value);
        $('#dataset_action_form').submit();
    }

    function requestEdit(instance){
        $('#datasetActionID').val("requestEdit");
        $('#datasetID').val(instance.value);
        $('#dataset_action_form').submit();
    }

    function userAdmin(instance){
        $('#datasetActionID').val("userAdmin");
        $('#datasetID').val(instance.value);
        $('#dataset_action_form').submit();
    }

    function deleteProtocol(instance){
        $('#datasetActionID').val("deleteProtocol");
        $('#datasetID').val(instance.value);
        $('#dataset_action_form').submit();
    }

    function publishProtocol(instance){

        bootbox.confirm('The protocol will be made non-editable. Are you sure you wish to continue?', function(result){
            if(result){
                $('#datasetActionID').val("publish");
                $('#datasetID').val(instance.value);
                $('#dataset_action_form').submit();
            }
        });
    }

</script>